body {
	font-family: Arial;
}

h3 {
	color: black;
	background-color: pink;
		}
	.TVShows {
	color: skyblue;
		}

#side-profile {
	background-color: skyblue;
}

#side-all {
	background-color: skyblue;
}

#side-youlike {
	background-color: grey;
}

#side-likeyou {
	background-color: grey;
}

.side-box {
	background-color: white;
	font-size: 16px;
	text-align: center;
	margin: 10px 0px;
	padding: 15px;
	box-shadow: 2px 2px 2px #bdbdbd;
}

.side-box h3 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.post {
	background-color: skyblue; 
	color: white;
	font-size: 16px;
	margin: 15px 0px;
	padding: 15px;
	box-shadow: 2px 2px 2px;
	list-style: none;
}


.post div:first-child {
	color: blue;
	margin-bottom: 15px;
}

.post div:nth-child(2) {
	font-size: 12px; 
	border-top: 1px solid #184D8A;
	padding-top: 15px;
}

.post div:nth-child(2) a {
	font-weight: bold; 
	display: block;
	float: right;
}


#post-form {
	text-align: center;
	height: 100px;
	background-color: #eceff1;
	padding: 15px;
	padding-bottom: 35px;
}

#post-form textarea {
	display: block;
	font-size: 16px;
	width: 99%;
	resize: none;
	height: 60px;
}

#post-form button {
	color: white;
	background-color: #00897B;
	font-size: 16px;
	line-height: 30px;
	display: block;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.2s;
	border: 0px;
}

#post-form button:hover {
	background-color: #00695C;
}

#wrapper {
	max-width: 600px;
	margin: 0px auto;
}
#wrapper a {
	color: white;
	text-decoration: none;
}

#wrapper a:hover {
	text-decoration: underline;
}

#profile-area{
	width: 28%;
	float: left;
}

#feed-area{
	width: 72%;
	padding-top: 10px;
	padding-left: 15px;
	box-sizing: border-box;
	float: left;
}

@media (max-width: 650px) {
	#profile-area, #feed-area{
		width:100%;
		max-width: 100%;
		padding-left:0px;
	}

	.side-box {
		width: 50%;
		float:left;
		box-sizing: border-box;
		margin: 5px 0px;
	}

	.side-box:nth-child(even) {
		margin-left: 3%;
		width: : 47%;
	}

	.boxcontent {
		height: 100px;
		margin-bottom: 15px;
		overflow-y: auto;
	}

}

@media (max-width: 480px) {
  .side-box {
    width: 100%;
  }

  .side-box:nth-child(even) {
    margin-left: 0%;
    width: 100%;
  }

  .boxcontent {
    height: auto;
  }
}


